<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Margo first programm</title>
  </head>
  <body>

   <!-- Begin page content -->
   <main role="main" class="container">
      <p></p>
      <noscript>
          <strong>We're sorry but first_programm doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->    </main>


  </body>
</html>
