<template>
  <div>
    <div v-show="!startgame">
      <b-row>
        <b-col lg="3"></b-col>
        <b-col lg="6" class="robo_hello" align="center">
          <img class="logo_img" src="../assets/big_robot.png" />
          <b-row>
            <b-col>
              <div>
                <h1>Hi, My name is Robo.</h1>
                <h4>
                  I will help you to memorize the
                  <span style="color:red;">Multiplication Table</span>
                </h4>
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col lg="3"></b-col>
      </b-row>

      <b-row align="center">
        <b-col></b-col>
        <b-col>
          <div>
            <h4 style="color:blue;">What is your name?</h4>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>

      <b-row>
        <b-col sm="3"></b-col>
        <b-col sm="6">
          <form v-on:submit.prevent="letsGame">
            <b-form-input v-model="name" placeholder="Enter your name please"></b-form-input>
           </form>
        </b-col>
        <b-col sm="3"></b-col>
      </b-row>

      <b-row v-show="showGo">
        <b-col sm="3"></b-col>
        <b-col sm="6" align="center">
          <b-button
            style="margin-top: 10px;"
            variant="primary" @click="letsGame"
          >LET'S GO START 😉</b-button>
        </b-col>
        <b-col sm="3"></b-col>
      </b-row>
    </div>

    <div v-show="startgame">
     <MyMultiplay :myname=name></MyMultiplay>
    </div>
  </div>
</template>

<script>
import MyMultiplay from "../components/Mymultiplay.vue";

export default {
  name: "HelloPage",
  components: {
    MyMultiplay
  },
  data() {
    return {
      name: "",
      startgame: false
    };
  },
  methods:{
      letsGame(){
          if (this.showGo){
              this.startgame = true;
          }
      }
  },
  computed:{
      showGo(){
          if(this.name != ''){
              return true
          }
          return false;
      }
  }

};
</script>

<style scoped>
.logo_img {
  width: 50px;
}
.robo_hello h1 {
  font-size: 25px;
}

.robo_hello h4 {
  font-size: 10px;
}
@media screen and (min-width: 800px) {
  .logo_img {
    width: 150px;
  }

  .robo_hello h1 {
    font-size: 35px;
  }
  .robo_hello h4 {
    font-size: 20px;
  }
}
</style>