<template>
  <div>
    <b-row v-show="!isName">
      <b-col>
        <h4>
          Hey,
          <span class="nameclass">{{ myname }}</span> good luck!
        </h4>
      </b-col>
    </b-row>

    <div v-show="!isName">
      <b-row>
        <b-col sm="2">
          <h5>Practice number</h5>
        </b-col>
        <b-col sm="3">
          <b-form-select
            @change="startgame = false"
            v-model="current_number"
            :options="list_number"
          ></b-form-select>
        </b-col>
      </b-row>

      <b-row class="problems">
        <b-col sm="12">
          <h1>{{firstval}} * {{secondval}} = {{result}}</h1>
        </b-col>
      </b-row>

      <b-row>
        <b-col lg="12">
          <form v-on:submit.prevent="checkResponse">
            <b-row>
              <b-col sm="2">
                <b-form-input
                  ref="response"
                  placeholder="?"
                  :type="typenum"
                  id="input-large"
                  v-model="response"
                  size="lg"
                ></b-form-input>
              </b-col>
              <b-col sm="4">
                <div align="left">
                  <b-button v-show="startgame" @click="checkResponse" variant="primary">Check</b-button>
                  <b-button
                    v-show="!startgame"
                    style="margin-left: 15px;"
                    @click="createProblem"
                  >Next</b-button>
                  <span style="margin: 5px;">game #{{gamenumber}}</span>
                </div>
              </b-col>
            </b-row>
          </form>
        </b-col>
      </b-row>

      <b-row>
        <b-col style="margin: 15px;" md="12">
          <h1 class="message">{{message}}</h1>
        </b-col>
      </b-row>
    </div>

    <!--RESULT TABLE-->
    <div>
      <b-row>
        <b-col sm="12">
          <div v-show="!isName">
            <b-tabs content-class="mt-3">
              <b-tab :title="titleWinsTable" active>
                <b-table striped hover :items="wincollection"></b-table>
              </b-tab>
              <b-tab :title="titleLoseTable">
                <b-table striped hover :items="losecollection"></b-table>
              </b-tab>
              <b-tab title="Saved games 💾">
                <b-table striped hover :items="savedgameslist">
                  <template slot="[uuid]" slot-scope="data">
                    <b-button variant="success" @click="showDialogLoad(data)">Load game</b-button>
                  </template>
                </b-table>
              </b-tab>
            </b-tabs>
          </div>
        </b-col>
      </b-row>
    </div>

    <div>
      <b-row>
        <b-col></b-col>
        <b-col></b-col>
        <b-col>
          <b-button variant="outline-primary" @click="saveResults">Save results</b-button>
        </b-col>
      </b-row>
    </div>

    <stack-modal
      :show="showModalLoad"
      title="Are you sure? Current data will be replace!"
      @save="loadGame(0)"
      @close="showModalLoad=false"
      :saveButton="{ title: 'Load game', visible: true, btnClass: {'btn btn-success': true}}"
    ></stack-modal>
  </div>
</template>

<script>
import { Eat, createUUID } from "../assets/helper";
import * as dateformat from "dateformat";
import StackModal from "@innologica/vue-stackable-modal";

export default {
  name: "MyMultiplay",
  props: ["myname"],
  components: { StackModal },
  data() {
    return {
      isName: false,
      //myname: "",
      response: null,
      firstval: 0,
      secondval: 0,
      result: "?",
      message: "",
      typenum: "number",
      starttime: null,
      startgame: true,
      gamenumber: 0,
      lastgamenumber: null,
      gameuuid: null,
      list_number: [
        { value: 0, text: "all" },
        { value: 2, text: 2 },
        { value: 3, text: 3 },
        { value: 4, text: 4 },
        { value: 5, text: 5 },
        { value: 6, text: 6 },
        { value: 7, text: 7 },
        { value: 8, text: 8 },
        { value: 9, text: 9 },
        { value: 10, text: 10 }
      ],
      current_number: 0,
      wincollection: [],
      losecollection: [],
      savedgameslist: [],
      showModalLoad: false,
      uuidloaded: null
    };
  },
  methods: {
    createProblem() {
      this.gamenumber += 1;
      this.startgame = true;
      let firstnum = Math.floor(Math.random() * 9) + 1;
      let secondnum = Math.floor(Math.random() * 9) + 1;

      if (this.current_number != 0) {
        if (
          secondnum === this.current_number ||
          firstnum === this.current_number
        ) {
          // don't care
        } else {
          firstnum = this.current_number;
        }
      }

      this.firstval = firstnum;
      this.secondval = secondnum;

      this.message = "";
      this.response = null;
      this.result = "?";
      this.starttime = Date.now();
      try {
        this.$refs.response.$el.focus();
      } catch (e) {
        // didn't find
      }
    },
    checkResponse() {
      if (this.gamenumber === this.lastgamenumber) {
        return NaN;
      }

      let realresult = this.firstval * this.secondval;
      this.lastgamenumber = this.gamenumber;
      this.startgame = false;
      let textresult =
        this.firstval + "*" + this.secondval + " = " + realresult;
      // check time
      let timing = Math.floor((Date.now() - this.starttime) / 1000);

      if (realresult == this.response) {
        let newgift = new Eat().getanyeat();
        this.message = "You won  - " + newgift;
        this.result = realresult;

        this.addWincollection(textresult, timing, newgift);
      } else {
        this.result = realresult;
        this.message =
          "Fail 😜  ----> |  " +
          this.firstval +
          " * " +
          this.secondval +
          " = " +
          realresult;
        this.addLosecollection(textresult, timing);
      }
    },

    nextProblem() {
      this.createProblem();
    },
    addWincollection(textval, timingval, prize) {
      let num = this.wincollection.length;
      this.wincollection.push({
        num: num + 1,
        prize: prize,
        text: textval,
        timing: timingval
      });
    },
    addLosecollection(textval, timingval) {
      let num = this.losecollection.length;
      this.losecollection.push({
        num: num + 1,
        text: textval,
        timing: timingval
      });
    },
    saveResults() {
      let newResults = {
        wincollection: this.wincollection,
        losecollection: this.losecollection,
        gamenumber: this.gamenumber
      };
      let savedresults = this.getallSavedResults();
      savedresults[this.gameuuid] = newResults;

      let parsed = JSON.stringify(savedresults);
      localStorage.setItem("resultsgames", parsed);
      this.updateSavedGamesList(this.gameuuid);
    },

    getallSavedResults() {
      if (localStorage.getItem("resultsgames")) {
        try {
          let savedresults = JSON.parse(localStorage.getItem("resultsgames"));
          return savedresults;
        } catch (e) {
          this.savedgameslist = [];
          localStorage.removeItem("resultsgames");
        }
      }
      return {};
    },
    updateSavedGamesList(gameuuid) {
      let newgame = {
        num: this.savedgameslist.length + 1,
        name: this.myname,
        date: dateformat(new Date(), "mmm d, h:MM TT"),
        uuid: gameuuid
      };
      this.savedgameslist.push(newgame);
      let parsedlist = JSON.stringify(this.savedgameslist);
      localStorage.setItem("gameslist", parsedlist);
    },

    loadSavedGamesList() {
      if (localStorage.getItem("gameslist")) {
        try {
          this.savedgameslist = JSON.parse(localStorage.getItem("gameslist"));
        } catch (e) {
          this.savedgameslist = [];
          localStorage.removeItem("games");
        }
      }
    },
    showDialogLoad(item) {
      this.uuidloaded = item.value;
      this.showModalLoad = true;
    },
    loadGame() {
      this.showModalLoad = false;
      if (this.uuidloaded != null) {
        if (localStorage.getItem("resultsgames")) {
          try {
            let savedresults = JSON.parse(localStorage.getItem("resultsgames"));
            let loadedresult = savedresults[this.uuidloaded];
            (this.wincollection = loadedresult.wincollection),
              (this.losecollection = loadedresult.losecollection),
              (this.gamenumber = loadedresult.gamenumber);
          } catch (e) {
            this.savedgameslist = [];
            localStorage.removeItem("games");
          }
        }
      }
    }
  },
  computed: {
    titleWinsTable() {
      return "Wins 👍 - " + this.totalWins;
    },
    totalWins() {
      return this.wincollection.length;
    },
    titleLoseTable() {
      return "Loss 😢 " + this.totalLoses;
    },
    totalLoses() {
      return this.losecollection.length;
    }
  },
  created() {
    this.loadSavedGamesList();
    this.gameuuid = createUUID();
    this.createProblem();
  }
};
</script>


<style scoped>
button,
input {
  margin: 3px 0px 0px;
}
.nameclass {
  color: pink;
}
.problems {
  color: purple;
}
.message {
  font-size: 30px;
  color:purple;
}
</style>