<template>
  <div id="app">
  <HelloPage></HelloPage>
 
  </div>
</template>

<script>
import HelloPage from './components/Enter.vue'

export default {
  name: 'app',
  components: {
    HelloPage:HelloPage
  }
}
</script>

<style>

</style>
